<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Raggam</title>
    <link rel="icon" type="image/png" href="../public/img/favicon.png"/>
    <!--jQuery-->
    <script src="../public/components/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="../public/components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet"
          type="text/css"/>
    <script src="../public/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--FontAwesome-->
    <link href="../public/components/components-font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet"
          type="text/css"/>
    <!--Custom style-->
    <link href="../public/css/_common.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../public/css/home02.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper">
<nav class="navbar" role="navigation">
    <div class="container-fluid col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Raggam" src="../public/img/logo-web.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="search" class="form-control input-sm"
                           placeholder="Rechecher un utilisateur, un projet, une tâche…">
                    <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Projets</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Membres
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Utilisateurs</a></li>
                        <li><a href="#">Groupes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paramètres <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-building-o"></i>
                                Compte de `Raggam`
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-cubes"></i>
                                Acheter des k'ubz
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <a class="" href="#">
                    <img src="../public/assets/me.jpeg"
                         class="img-rounded"
                         width="48"
                         alt="Alicia Penn (Vous)">
                </a>
            </div>
        </div>
    </div>
</nav>
<main>
<div id="full-content"
     class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
<aside class="col-lg-3 col-md-3 col-sm-3 col-xs-0">

    <h5 class="page-header">
        <i class="fa fa-fw fa-tasks"></i> À faire
        <span class="more-info"><i class="fa fa-fw fa-info-circle"></i></span>
    </h5>
    <h6>Anomalies</h6>
    <ul>
        <li>
            <a href="#">
                <strong class="status-3">Les tris sur les tableaux ne fonctionnent p…</strong>
                <span class="status"><i class="fa fa-fw fa-clock-o"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <strong class="status-2">Quand je me connecte, ça met un messa…</strong>
                <span class="status"><i class="fa fa-fw fa-clock-o"></i></span>
            </a>
        </li>
    </ul>
    <h6>Stories</h6>
    <ul>
        <li>
            <a href="#">
                <strong class="status-1">CDiscount - Gestion des campagnes mar…</strong>
                <span class="status"><i class="fa fa-fw fa-clock-o"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <strong class="status-4">Pôle Emploi - Refonte du système d'info…</strong>
                <span class="status"><i class="fa fa-fw fa-clock-o"></i></span>
            </a>
        </li>
    </ul>
    <h6>Tâches non prévues</h6>

    <p>Aucune tâche à afficher</p>
</aside>
<div id="main-content" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div id="quick-add" class="panel panel-default">
    <div class="panel-body">
        <ul>
            <li class="current"><a href="#"><i class="fa fa-fw fa-clock-o"></i> Déclarer</a></li>
            <li><a href="#"><i class="fa fa-fw fa-edit"></i> Créer</a></li>
            <li><a href="#"><i class="fa fa-fw fa-comments"></i> Contacter</a></li>
        </ul>
        <form role="search">
            <div class="input-group">
                <input type="search" class="form-control input-sm"
                       placeholder="Chercher une tâche par titre ou numéro">
                <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
            </div>
        </form>
    </div>
</div>

<h3 class="date">Aujourd'hui - 01 nov. 2014</h3>

<div class="panel panel-default feed-entry">
    <div class="panel-body">
        <div class="col-lg-6 person">
            <img src="../public/assets/me.jpeg"
                 class="img-rounded"
                 width="80"
                 alt="Alicia Penn (Vous)">
            <ul class="informations">
                <li>
                    <span class="label label-info">Fermeture de tâche</span>
                    <span class="more-info"><i class="fa fa-fw fa-info-circle"></i>
                    </span>
                </li>
                <li><i class="fa fa-fw fa-user"></i><strong> Alicia Penn</strong></li>
                <li><i class="fa fa-fw fa-calendar"></i><span> 01 nov. 2014</span></li>
                <li><i class="fa fa-fw fa-clock-o"></i><span> 09:01</span></li>
                <li><i class="fa fa-fw fa-check-square-o"></i><span> 8hrs</span></li>
            </ul>
            <ul class="actions">
                <li><a href="#"><i class="fa fa-fw fa-warning text-danger"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-comments"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-magnet"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 description">
            <h4>
                <a href="#">[#4332] - Création, mise à jour, liste et suppression des util…</a>
            </h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo…
            </p>
        </div>
    </div>
</div>
<!---->
<!---->
<!---->
<div class="panel panel-default feed-entry">
    <div class="panel-body">
        <div class="col-lg-6 person">
            <img src="../public/assets/02.jpg"
                 class="img-rounded"
                 width="80"
                 alt="Jean-Michel Apeuprès">
            <ul class="informations">
                <li><span class="label label-success">Création d'une tâche</span> <span class="more-info"><i
                        class="fa fa-fw fa-info-circle"></i></span>
                </li>
                <li><i class="fa fa-fw fa-user"></i><strong> Jean-Michel Apeuprès</strong></li>
                <li><i class="fa fa-fw fa-calendar"></i><span> 01 nov. 2014</span></li>
                <li><i class="fa fa-fw fa-clock-o"></i><span> 10:38</span></li>
            </ul>
            <ul class="actions">
                <li><a href="#"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-comments"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-magnet"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 description">
            <h4>
                <a href="#">[#4332] - Création, mise à jour, liste et suppression des util…</a>
            </h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo…
            </p>
        </div>
    </div>
</div>
<!---->
<!---->
<!---->

<div class="panel panel-default feed-entry">
    <div class="panel-body">
        <div class="col-lg-6 person">
            <img src="../public/assets/01.jpg"
                 class="img-rounded"
                 width="80"
                 alt="Pierre Pellerin">
            <ul class="informations">
                <li><span class="label label-info">Affectation</span> <span class="more-info"><i
                        class="fa fa-fw fa-info-circle"></i></span>
                </li>
                <li><i class="fa fa-fw fa-user"></i><strong> Pierre Pellerin</strong></li>
                <li><i class="fa fa-fw fa-calendar"></i><span> 01 nov. 2014</span></li>
                <li><i class="fa fa-fw fa-clock-o"></i><span> 16:52</span></li>
            </ul>
            <ul class="actions">
                <li><a href="#"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-comments"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-magnet"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 description">
            <h4>
                <a href="#">[#4332] - Création, mise à jour, liste et suppression des util…</a>
            </h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo…
            </p>
        </div>
    </div>
</div>
<!---->
<!---->
<!---->
<h3 class="date">Hier - 31 oct. 2014</h3>
<div class="panel panel-danger feed-entry">
    <div class="panel-body">
        <div class="col-lg-6 person">
            <img src="../public/assets/03.jpg"
                 class="img-rounded"
                 width="80"
                 alt="David H.">
            <ul class="informations">
                <li><span class="label label-danger">Remonté d'anomalie</span> <span class="more-info"><i
                        class="fa fa-fw fa-info-circle"></i></span>
                </li>
                <li><i class="fa fa-fw fa-user"></i><strong> David H.</strong></li>
                <li><i class="fa fa-fw fa-calendar"></i><span> 31 oct. 2014</span></li>
                <li><i class="fa fa-fw fa-clock-o"></i><span> 11:13</span></li>
            </ul>
            <ul class="actions">
                <li><a href="#"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-comments"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-magnet"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 description">
            <h4>
                <a href="#">[#4332] - Création, mise à jour, liste et suppression des util…</a>
            </h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo…
            </p>
        </div>
    </div>
</div>
<!---->
<!---->
<!---->

<h3 class="date">Juin 2014</h3>
<div class="panel panel-default feed-entry">
    <div class="panel-body">
        <div class="col-lg-6 person">
            <img src="../public/assets/me.jpeg"
                 class="img-rounded"
                 width="80"
                 alt="Alicia Penn (Vous)">
            <ul class="informations">
                <li><span class="label label-info">Déclaration de temps</span> <span class="more-info"><i
                        class="fa fa-fw fa-info-circle"></i></span>
                </li>
                <li><i class="fa fa-fw fa-user"></i><strong> Alicia Penn</strong></li>
                <li><i class="fa fa-fw fa-calendar"></i><span> 22 juin 2014</span></li>
                <li><i class="fa fa-fw fa-clock-o"></i><span> 14:22</span></li>
                <li><i class="fa fa-fw fa-check-square-o"></i><span> 3hrs</span></li>
            </ul>
            <ul class="actions">
                <li><a href="#"><i class="fa fa-fw fa-external-link"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-comments"></i></a></li>
                <li><a href="#"><i class="fa fa-fw fa-magnet"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 description">
            <h4>
                <a href="#">[#4332] - Création, mise à jour, liste et suppression des util…</a>
            </h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo…
            </p>
        </div>
    </div>
</div>
</div>
<aside class="col-lg-3 col-md-3 col-sm-3 col-xs-0">

    <h5 class="page-header"><i class="fa fa-fw fa-star"></i> Favoris</h5>
    <h6>Collaborateurs</h6>
    <ul class="collabs">
        <li>
            <a href="#">
                <img src="../public/assets/01.jpg" width="32" alt="Pierre Pellerin">
                <strong>Pierre Pellerin</strong>
                <span class="status status-1"><i class="fa fa-fw fa-circle"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../public/assets/02.jpg" width="32" alt="Pierre Pellerin">
                <strong>Jean-Michel Apeuprès</strong>
                <span class="status status-2"><i class="fa fa-fw fa-circle"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../public/assets/03.jpg" width="32" alt="Pierre Pellerin">
                <strong>David H.</strong>
                <span class="status status-3"><i class="fa fa-fw fa-circle"></i></span>
            </a>
        </li>
    </ul>
    <h6>Projets</h6>
    <ul>
        <li>
            <a href="#">
                <strong>CDiscount - Gestion des campagnes mar…</strong>
                <span class="status status-1"><i class="fa fa-fw fa-tag"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <strong>Pôle Emploi - Refonte du système d'info…</strong>
                <span class="status status-2"><i class="fa fa-fw fa-tag"></i></span>
            </a>
        </li>
    </ul>
    <h5 class="page-header"><i class="fa fa-fw fa-location-arrow"></i> À proximité</h5>
    <h6>Ils ont besoin de vous</h6>
    <h6>Vous pourriez avoir besoin d'eux</h6>
</aside>
</div>
</main>
</div>
</body>
</html>