/**********************************************************************************************************************/
/**********************************************************************************************************************/

body {
    font-size: 13px;
}

a,
a:hover {
    outline: none;
    text-decoration: none;
}

.panel {
    margin-bottom: 10px;
    background-color: #fefefe;
}

.more-info {
    color: #597eaa;
}

/**********************************************************************************************************************/
/**
* NAVBAR
*/
nav.navbar {
    background-color: #a2c4c9;
    line-height: 40px;
    border-radius: 0;
    border-bottom: 1px solid #76a5af;
}

.navbar-nav > li > a {
    line-height: 30px;
}

nav.navbar a.navbar-brand {
    height: auto;
}

.navbar-form > .input-group > .form-control {
    width: 350px;
}

.input-group > span {
    cursor: pointer;
}

nav.navbar input,
nav.navbar .input-group-addon {
    border: none;
}

.nav a {
    color: #134f5c;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

.dropdown-menu > li > a {
    font-size: .9em;
}

.navbar-right > a {
    display: block;
    height: 48px;
    width: 48px;
    margin-top: 5px;
}

/**********************************************************************************************************************/
aside {
    color: #999;

}

aside h5.page-header {
    color: #555;
    margin-top: 0;
}

aside h6 {
    text-align: right;
    font-size: .8em;
    color: #ccc;
}

aside ul {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    list-style-type: none;
    font-size: .9em;
}

aside ul li {
    margin-bottom: 1px;
}

aside ul li a {
    display: inline-block;
    width: 100%;
    color: #555;
}

aside ul.collabs li a:hover {
    background-color: #eee;
}

aside ul li strong {
    font-weight: normal;
}

aside ul.collabs li span.status {
    margin-top: 7px;
}

aside ul li span.status {
    float: right;
}

aside ul li .status-1 {
    color: #6aa84f;
}

aside ul li .status-2 {
    color: #f6b26b;
}

aside ul li .status-3 {
    color: #cf2a27;
}

aside ul li .status-4 {
    color: #597eaa;
}

aside h5 .more-info {
    float: right;
}

/**********************************************************************************************************************/
#quick-add ul {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    list-style-type: none;
    border-bottom: 1px solid #eee;
}

#quick-add ul li {
    display: inline-block;
}

#quick-add ul li:after {
    content: " | ";
    color: #eee;
}

#quick-add ul li:last-child:after {
    content: "";
}

#quick-add ul li a:hover {
    color: #bbb;
}

#quick-add ul li a {
    color: #ddd;
    display: inline-block;
    font-size: 1.1em;
    padding: 0 5px;
    margin: 0 5px;
}

#quick-add ul li.current a {
    color: #555;
}

/**********************************************************************************************************************/
h3.date {
    color: #ddd;
    font-size: 1em;
}

/**********************************************************************************************************************/
.feed-entry {
    font-size: .8em;
}

.feed-entry.panel-danger .panel-body {
    background-color: #F2DEDE;
}

.feed-entry h4 {
    font-size: 1.2em;
}

.feed-entry .description p {
    text-align: justify;
}

.feed-entry .time {
    vertical-align: middle;
    position: relative;
    color: #bbb;
    font-size: 1em;
    text-align: center;
}

.feed-entry .time i.fa {
    color: #eee;
    font-size: 3em;
}

.feed-entry .time strong {
    font-size: 2em;
}

.feed-entry .time span {
    display: block;
    font-size: .5em;
}

.feed-entry .person {
    overflow: hidden;
}

.feed-entry .person img {
    float: left;
}

.feed-entry .person ul {
    list-style-type: none;
    margin: 0 0 0 5px;
    padding: 0;
    float: left;
}

.feed-entry .person ul.actions li a {
    color: #ccc;
}

.feed-entry .person ul.actions {
    font-size: 1.5em;
    float: right;
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/